<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyh.girlcaiquan">

    <!-- QQ -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.lyh.girlcaiquan.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".PhoneLoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:name=".PhoneRegisterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".PhoneForgetActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".PhoneCodeConfirmActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@style/Theme.AppCompat.Light"/>



        <!-- sdk相关 -->

        <!-- 登录需要的activity start -->
        <activity-alias
            android:name="com.yuan.shi.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="com.yuan.shi.lonng.LongDaLoginActivity" />
        <!-- 登录需要的activity end -->

        <meta-data android:name="LONGY_CHANNEL" android:value="test"/>
        <meta-data android:name="LONGY_APPID" android:value="12345"/>
        <!-- sdk相关 -->

    </application>

</manifest>
